D:/community[[:space:]]project/Community-Project/model/Walmart_Time_Series_Forecast.ipynb filter=lfs diff=lfs merge=lfs -text
D:/community[[:space:]]project/Community-Project/model/Untitled1.ipynb filter=lfs diff=lfs merge=lfs -text
D:/community[[:space:]]project/Community-Project/model/Untitled.ipynb filter=lfs diff=lfs merge=lfs -text
D:/community[[:space:]]project/Community-Project/model/predictions filter=lfs diff=lfs merge=lfs -text
D:/community[[:space:]]project/Community-Project/model/predictis filter=lfs diff=lfs merge=lfs -text
D:/community[[:space:]]project/Community-Project/model/plots filter=lfs diff=lfs merge=lfs -text
D:/community[[:space:]]project/Community-Project/model/models1 filter=lfs diff=lfs merge=lfs -text
D:/community[[:space:]]project/Community-Project/model/datasets filter=lfs diff=lfs merge=lfs -text
D:/community[[:space:]]project/Community-Project/model/.ipynb_checkpoints filter=lfs diff=lfs merge=lfs -text
model/datasets/final_data.csv filter=lfs diff=lfs merge=lfs -text
model/models1/feature_elim_regressor.pkl filter=lfs diff=lfs merge=lfs -text
model/models1/randomforest_regressor.pkl filter=lfs diff=lfs merge=lfs -text
model/datasets/preprocessed_walmart_dataset.csv filter=lfs diff=lfs merge=lfs -text
model/models1/knn_regressor.pkl filter=lfs diff=lfs merge=lfs -text
